/* MOBILE-FIRST, INNIT! ;P */

.table-of-contents {
  padding: 5%;
  margin-top: 60px;
  background-color: white;
  text-align: left;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  /* text-align: center; */
  line-height: 1.5;
  /* margin: 20px; */
}

h1 {

}

h2 {
  margin: 0 5px 0;

}

p {
  font-size: 0.7em;
}

nav,
footer {
  padding: 2% 5%;
  background-color: black;
  opacity: 0.9;
  color: #ccc;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  
}

nav ul {
  float: right;
  font-size: 0.8em;
}

nav li {
  display: inline-block;
  margin-left: 10px;
}

nav a {
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: white;
}



.social-icons {
  list-style: none;
  font-size: 24px;
  padding: 0;
  
}

.social-icons a {
  text-decoration: none;
  color: black;
}

.social-icons a:hover {
  color: grey;
}

li {
  display: inline-block;
}



header {
  padding: 24% 2% 12% 2%;
}

section {
  min-height: 200px;
  padding: 4% 4%;
  background-color: #ddd;
  margin-bottom: 20px;
}


section > img {
  width: 100%;
  border: 2px solid black;
  opacity: 0.5;
}






/* DEVICONS!!!!! //////////////////////*/

.devicon {
  /* DEFAULT FONT-SIZE ////////////////*/
  /* font-size: 40px; */
  font-size: 30px;

  /* DEFAULT COLOR ////////////////////*/ 
  /* depends on the icon, but when removed, */
  /* color: #444;  */
  /* NOTE: to manipulate color have to remove 'colored' class, e.g. 
  <i class="devicon-css3-plain-wordmark colored"></i> */
}

.devicon-javascript-plain {
  font-size: 20px;
}


/*/////////////////////////////////////////////////////////
// STANDARD RESPONSIVE DESIGN BREAKPOINTS /////////////////
/////////////////////////////////////////////////////////*/

/*780////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) {

  header {
    /* padding: 12% 0; */
  }

  .project-image {
    width: 50%;
    float: left;
  }

  .project-info {
    
  }

}

/*1024///////////////////////////////////////////////////*/ /* maybe 980px? */
@media screen and (min-width: 1024px) {  

}

/*1200///////////////////////////////////////////////////*/
@media screen and (min-width: 1200px) {

}

