/* MOBILE-FIRST, INNIT! ;P */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  /* font-size: 20px; */
  color: #444;
  /* text-align: center; */
  line-height: 1.5;
  /* margin: 20px; */
}

.table-of-contents {
  padding: 5%;
  margin-top: 60px;
  background-color: white;
  text-align: left;
}

h1 {
  weight: normal;
  font-size: 1em;
  color: #999;
}

a {
  font-weight: bold;
}

p {
  margin-bottom: 30px;
  color: #999;
}